@tailwind components;


@layer components{
    .homeContainer{
        @apply  w-full bg-white dark:bg-neutral-900
        flex flex-col items-center font-poppins 
    }

    .homeHeaderContainer{
        @apply flex flex-col-reverse lg:flex-row items-center
        w-full justify-center  gap-10 p-10 lg:p-20 py-20 lg:py-0  lg:h-[100vh]
    }

    .homeHeaderBoxLeft{
        @apply lg:w-[50%] flex flex-col  lg:p-10 
        gap-5 items-center lg:items-start
        
    }

    .homeHeaderBoxLeft h1{
        @apply text-2xl md:text-5xl lg:text-7xl font-bold 
        uppercase text-center md:text-start
        bg-gradient-to-r from-neutral-900 to-slate-400 bg-clip-text text-transparent
        dark:bg-gradient-to-r dark:from-neutral-50 dark:to-neutral-300
    
    }


    .homeHeaderBoxLeft p{
        @apply text-xs md:text-sm lg:text-base font-light text-neutral-800
        text-center lg:text-justify  dark:text-neutral-200
    }

    .homeHeaderBoxLeft p b{
        @apply font-bold 
    }

    .homeHeaderBoxRight{
        @apply lg:w-[30%] flex items-center justify-center
    }

    .homeHeaderBoxRight img{
        @apply w-[90%] lg:w-[100%] rounded-3xl mt-10 lg:mt-0
    }

    .homeHeaderBtn{
        @apply bg-black text-white rounded-md p-5 border-none
        dark:bg-white dark:text-black font-poppins
    }


    .homeAboutContainer{
        @apply  w-full flex  items-center font-poppins
         flex-col-reverse lg:flex-row  lg:px-20  lg:h-[100vh]
    }



    .homeAboutImg{
        @apply flex items-center justify-center
         lg:w-[50%]  gap-5 flex-col md:flex-row p-10 md:p-0
    }

    .homeAboutImg img{
        box-shadow: 20px 10px 5px rgba(0, 0, 0, 0.378);
        @apply  lg:w-[250px] rounded-xl
    }

  

    .homeAboutText{
        @apply   p-5  text-sm 
        flex flex-col gap-10 
        lg:w-[50%] items-center lg:items-start
         
    }

    .homeAboutText h1{
        @apply font-extrabold uppercase text-3xl lg:text-5xl 
        dark:text-neutral-200 
    }


    .homeAboutText p{
        @apply text-xs sm:text-sm lg:text-base
        dark:text-neutral-200  lg:pr-20 text-justify lg:text-start
    }

  
    .homeAboutBtn {
        @apply bg-neutral-950 
         text-white font-poppins border-none text-sm font-medium
         p-5 px-10 dark:bg-white dark:text-black duration-200
    }

    .homeProjectContainer{
        @apply lg:p-40 w-full flex flex-col
        items-center gap-10 mt-20
    }


    .homeProjectContainer h1{
        @apply font-extrabold uppercase text-3xl lg:text-5xl 
        dark:text-neutral-200  
    }



    .homeProjectBox1{
        @apply flex gap-5 p-10 md:p-5 flex-wrap items-center justify-center
        
    }

 

    .homeProjectBox1 img{
        @apply  xl:w-[550px] hover:shadow-2xl duration-200
        rounded-xl
    }

  

    .homeProjectDetail{
        @apply flex lg:flex-row-reverse  w-full 
        gap-10 bg-stone-100 dark:bg-neutral-700 p-5
        lg:rounded-xl flex-col
    }


    .homeProjectDetail span{
        @apply  w-[50%] pt-10
    }
  

    .homeProjectDetail span h3{
        @apply font-medium uppercase text-xl 
        dark:text-neutral-200 pb-2
    }

    .homeProjectDetail span p{
        @apply text-sm leading-5 font-light 
        dark:text-neutral-200 pr-10
    }


    .homeProjectDetail img{
        @apply w-[500px] rounded-xl
    }

    .projectModalBox{
        @apply flex flex-col gap-5
    }

    .projectModalBox img{
        @apply rounded-lg
    }

    .projectModalBox p{
        @apply text-justify font-poppins text-xs leading-5
    }


    .contactContainer{
        @apply flex flex-col items-center font-poppins border-t-2 py-20 lg:h-[80vh]
    }

    .contactContainer h1{
        @apply font-extrabold uppercase text-3xl lg:text-5xl 
        dark:text-neutral-200
    }


    .contactContainer .text1{
        @apply text-xs sm:text-sm lg:text-base
        dark:text-neutral-200 
        w-[90%] md:w-[70%] text-center p-5 md:p-10 
    }

    .contactContainer .text2{
        @apply text-sm flex items-center  mt-5 gap-2  dark:text-white
    }

   

    .contactBtn{
        @apply border p-3 px-6 bg-black dark:bg-white dark:text-black text-white duration-200
        flex items-center gap-3 hover:bg-neutral-200 hover:text-black
    }


    .contactContainer span{
        @apply flex  pt-20 gap-5 pb-20
    }

    .contactContainer span a{
        @apply border-b border-black dark:border-white duration-200
        dark:text-white
    }


}