@tailwind components;



@layer components {
    .navbarContainer{
        @apply flex justify-between px-20 w-full  items-center
        p-4 bg-white dark:bg-neutral-900 fixed top-0 z-50
    }

    .navbarContainer img{
        @apply w-[40px] h-[40px] rounded-full
    }

    .navLogo{
        @apply font-bold text-2xl dark:text-neutral-100
    }

    .btnDarkmode {
        @apply bg-gray-700 text-white dark:bg-neutral-100 dark:text-black
        rounded-full p-4 border-none
    }
}